{# sidebar.html.twig #}

<aside class="p-2 h-full w-1/5 border-r border-neutral-400">
  <div class="flex flex-col cursor-pointer">
    <div class="px-2 py-1 flex items-center gap-2 rounded hover:bg-neutral-300">
      <twig:ux:icon name="tabler:user-circle" class="h-5 w-5"/>
      For you
    </div>
    <div class="px-2 py-1 flex justify-between items-center gap-2 rounded hover:bg-neutral-300">
      <div class="flex gap-2">
        <twig:ux:icon name="tabler:clock" class="h-5 w-5"/>
        Recent
      </div>
      <twig:ux:icon name="tabler:chevron-right" class="h-5 w-5"/>
    </div>
    <div class="px-2 py-1 flex justify-between items-center gap-2 rounded hover:bg-neutral-300">
      <div class="flex gap-2">
        <twig:ux:icon name="tabler:star" class="h-5 w-5"/>
        Starred
      </div>
      <twig:ux:icon name="tabler:chevron-right" class="h-5 w-5"/>
    </div>
    <div class="px-2 py-1 flex justify-between items-center gap-2 rounded hover:bg-neutral-300">
      <div class="flex gap-2">
        <twig:ux:icon name="tabler:folder" class="h-5 w-5"/>
        Project
      </div>
      <div class="flex gap-2">
        <twig:ux:icon name="tabler:plus" class="h-5 w-5"/>
        <twig:ux:icon name="tabler:dots" class="h-5 w-5"/>
      </div>
    </div>
    <div class="px-2 py-1 flex items-center gap-2 rounded hover:bg-neutral-300">
      <twig:ux:icon name="tabler:layout-dashboard" class="h-5 w-5"/>
      Dashboard
    </div>
    <div class="px-2 py-1 flex items-center gap-2 rounded hover:bg-neutral-300">
      <twig:ux:icon name="tabler:users-group" class="h-5 w-5"/>
      Teams
    </div>
  </div>
</aside>
